@page "/"
@using ClosedXML.Excel;
@using ExcelFileDownload.Services;
@using System.Data;
@inject IJSRuntime iJsRuntime

<h1>Excel File Export</h1>

<button class="btn btn-primary" @onclick="ExportExcelClosedXml">Export Excel from Closed XML</button>


