@page "/"
@using ExcelFileDownload.Data
@inject IJSRuntime iJsRuntime

<h1>Blazer Excel Generate</h1>

<button class="btn btn-primary" @onclick="GenerateExcel">Generate Excel</button>

@code{
    private void GenerateExcel()
    {
        StudentData student = new StudentData();
        student.GenerateExcel(iJsRuntime);
    }
}
