@page "/"

<h2>Export data to file</h2>

<button class="btn btn-primary mt-4" @onclick="ExportToExcel">Export to Excel</button>
<br />
<button class="btn btn-primary mt-4" @onclick="ExportToCsv">Export to Csv</button>


