@page "/"
@inject IJSRuntime iJsRuntime

<h1>Blazer Excel Generate</h1>

<button class="btn btn-primary" @onclick="GenerateExcelEpPlus">Generate Excel from EPPlus</button>
<button class="btn btn-primary" @onclick="GenerateExcelClosedXml">Generate Excel from Closed XML</button>

@code{
    private void GenerateExcelEpPlus()
    {
        ExportData export = new ExportData();
        export.GenerateExcelEpPlus(iJsRuntime);
    }

    private void GenerateExcelClosedXml()
    {
        ExportData export = new ExportData();
        export.GenerateExcelClosedXml(iJsRuntime);
    }
}
